{% include 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Class Detail</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'student:class-index' %}">Class List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="#">Class Detail</a>
    </div>


    <div class="grid grid-cols-1">
      <!-- Analytics Table -->
      <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg">
        <h2 class="my-2 text-center text-xl font-semibold">Detail Data Class</h2>
        <div class="grid grid-cols-2">
          <p class="p-1 border-b text-green-500 font-bold">Nama Kelas</p>
          <p class="p-1 border-b">: {{object.nama_kelas}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Tahun Ajaran</p>
          <p class="p-1 border-b">: {{object.tahun_ajaran|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Created at</p>
          <p class="p-1 border-b">: {{object.created_at|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Updated at</p>
          <p class="p-1 border-b">: {{object.updated_at|default:"-"}}</p>
        </div>
      </div>
    </div>

  </main>
{% endblock content %}