{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PMBP SMAS IT AL BINAA</title>
  <meta content="PMBP SMAS IT Al Binaa" name="description" />
  <meta
    content="SMA IT AL Binaa, SMAS IT AL Binaa, PMBP SMA IT AL Binaa, PMBP SMAS IT AL Binaa, Ekskul SMA IT AL Binaa, Ekskul"
    name="keywords" />
  <link rel="canonical" href="https://pmbp.smasitalbinaa.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="PMBP SMAS IT AL BINAA" />
  <meta property="og:url" content="https://pmbp.smasitalbinaa.com/" />
  <meta property="og:site_name" content="SMAS IT AL BINAA IBS" />
  <link href="{% static 'img/favicon.png' %}" rel="icon" />
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />
  <link rel="stylesheet" href="{% static 'css/build.css' %}">
</head>

<body class="bg-gray-100 dark:bg-black dark:text-gray-200">
    {% include 'header.html' %}
    {% include 'sidebar.html' %}
    {% block content %}
    {% endblock content %}

  <script src="{% static 'js/dashboard.js' %}"></script>

</body>

</html>