{% include 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Private Detail</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'alumni:alumni-dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'private:private-index' %}">Private List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="">Private Detail</a>
    </div>


    <div class="grid grid-cols-1">
      <!-- Analytics Table -->
      <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg">
        <h2 class="my-2 text-center text-xl">Detail Data Private</h2>
        <p class="m-1 text-green-500 font-bold">Pembimbing:</p>
        <p class="m-1">{{object.pembimbing|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Pelajaran:</p>
        <p class="m-1">{{object.pelajaran|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Tanggal Bimbingan:</p>
        <p class="m-1">{{object.tanggal_bimbingan|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Waktu Bimbingan:</p>
        <p class="m-1">{{object.waktu_bimbingan|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Catatan:</p>
        <p class="m-1">{{object.catatan_bimbingan|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Kehadiran Santri:</p>
        {% for santri in object.kehadiran_santri.all %}
        <p class="m-1">{{santri|default:"-"}}</p>
        {% endfor %}
        <p class="m-1 text-green-500 font-bold">Foto Pertemuan:</p>
        <img src="{{object.foto.url}}" alt="Foto Pertemuan">
      </div>
    </div>

  </main>
{% endblock content %}