{% include 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Subject Detail</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'alumni:alumni-dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'private:subject-index' %}">Subject List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="#">Subject Detail</a>
    </div>


    <div class="grid grid-cols-1">
      <!-- Analytics Table -->
      <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg">
        <h2 class="my-2 text-center text-xl">Detail Data Subject</h2>
        <p class="m-1 text-green-500 font-bold">Nama Pelajaran:</p>
        <p class="m-1">{{object.nama_pelajaran}}</p>
        <p class="m-1 text-green-500 font-bold">Created at:</p>
        <p class="m-1">{{object.created_at|default:"-"}}</p>
        <p class="m-1 text-green-500 font-bold">Updated at:</p>
        <p class="m-1">{{object.updated_at|default:"-"}}</p>
      </div>
    </div>

  </main>
{% endblock content %}